<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-azure-upload"
        version="1.0.0">

    <name>AzureUploadPlugin</name>
    <description>Cordova Plugin to Upload Files to Azure Blob Storage in Chunked Mode</description>
    <license>Apache 2.0</license>
    <keywords>azure blob upload, chunked, images, video, thumbnails</keywords>
    <author>karamsawalha</author>
    <js-module src="www/azureUpload.js" name="AzureUpload">
        <clobbers target="cordova.plugins.azureUpload"/>
    </js-module>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <source-file src="src/android/AzureUpload.java" target-dir="src/com/arabicschool/azureupload"/>
    </platform>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <key>NSAppTransportSecurity</key>
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <source-file src="src/ios/AzureUpload.swift"/>
    </platform>
</plugin>
