<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-azure-upload"
        version="1.0.0">

    <name>AzureUploadPlugin</name>
    <description>Cordova Plugin to Upload Files to Azure Blob Storage in Chunked Mode</description>
    <license>Apache 2.0</license>
    <keywords>azure blob upload, chunked, images, video, thumbnails</keywords>
    <author>karamsawalha</author>
    <js-module src="www/azureUpload.js" name="AzureUpload">
        <clobbers target="cordova.plugins.azureUpload"/>
    </js-module>

    <!-- Android platform support -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AzureUpload">
                <param name="android-package" value="com.karamsawalha.azureupload.AzureUpload"/>
            </feature>
        </config-file>
        <source-file src="src/android/AzureUpload.java" target-dir="src/com/karamsawalha/azureupload"/>
    </platform>

    <!-- iOS platform support -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AzureUpload">
                <param name="ios-package" value="AzureUpload"/>
            </feature>
        </config-file>
        <source-file src="src/ios/AzureUpload.swift" />
    </platform>

</plugin>
